html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: block;
  width: 100%;
}

.robot {
  width: 320px;
  display: inline-block;
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: -3em;
}
