html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 4em;
}

.robot {
  width: 320px;
  display: inline-block;
  position: relative;
}

.robot-body {
  width: 320px;
  margin-bottom: -1em;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 2em;
  left: 8.5em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: -2.4em;
}

.robot-head-right {
  right: 2.25em;
}

.robot-head-left {
  left: 2.25em;
}

.robot:hover .robot-head-right {
  right: .25em;
  top: -3em;
}

.robot:hover .robot-head-left {
  left: .25em;
  top: -3em;
}

.robot:hover .robot-brain {
  top: -.5em;
}
